/*! Global Styles Start */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*! Global Styles End */
/*? Google Fonts Styles Start */
.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/*? Google Fonts Styles End */

/*! Common or Shared Styles Start */
body {
  min-height: 100vh;
  width: 100%;
  background-color: var(--background-color);
}
:root {
  --primary-color: #4e47ff;
  --secondary-color: #000000;
  --accent-color: #252432;
  --para-color: rgba(37, 36, 50, 50%);
  --small-para-color: rgba(0, 0, 0, 50%);
  --font-color: #333;
  --background-color: #f5f8ff;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 20px 15px;
}

.text-center {
  text-align: center;
}

.header-section {
  background-image: url("../assets/Hero-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.primary-btn {
  background-color: var(--primary-color);
  color: #fff;
  padding: 10px 36px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  transition: all 0.3s ease;
}

.primary-btn:hover {
  background-color: #3b3bff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transform: translateY(-2px);
}

.logo h1 a {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: 900;
}

.section-title {
  line-height: auto;
  color: var(--accent-color);
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.section-description {
  font-size: 18px;
  line-height: auto;
  color: var(--para-color);
  margin-top: 20px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/*! Common or Shared Styles End */

/* Navbar/Navigation Section Styles Start */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}
.small-logo {
  font-size: 34px;
  line-height: 51px;
}
/* Navbar/Navigation Section Styles End */

/* Banner/Herobox Section Styles Start */
.banner-section {
  text-align: center;
  padding: 200px 0 150px 0;
}

.banner-section h1 {
  font-size: 65px;
  line-height: auto;
  color: var(--accent-color);
  font-weight: 700;
  margin-bottom: 35px;
}
/* Banner/Herobox Section Styles End */

/* Action Content Section Styles Start */
.action-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 115px 0;
}

.action-content-left h2 {
  font-size: 42px;
  margin-bottom: 23px;
}

.action-content-left p {
  font-size: 24px;
  line-height: 30px;
  color: var(--para-color);
  margin-bottom: 23px;
}
.action-content-right img {
  max-width: 100%;
  height: auto;
  border-radius: 48px;
}
/* Action Content Section Styles End */

/* Productive Users Section Styles Start */
.productive-users-section {
  background-color: rgba(78, 71, 255, 10%);
  text-align: center;
  padding: 50px 0;
  border-radius: 24px;
  margin-bottom: 137px;
}

.productive-users-section h2 {
  font-size: 38px;
  margin-bottom: 40px;
}

.productive-users-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
}

.productive-users-content-count h4 {
  font-size: 80px;
  line-height: auto;
  color: var(--primary-color);
  font-weight: 700;
  margin-bottom: 0px;
}

.productive-users-content-count p {
  font-size: 20px;
  line-height: auto;
  color: rgba(0, 0, 0, 50%);
  font-weight: 500;
}
/* Productive Users Section Styles End */

/* What Our Users Say Section Styles Start */
.what-our-users-say-section {
  margin-bottom: 137px;
}
.what-our-users-say-section h2 {
  font-size: 42px;
  margin-bottom: 50px;
}

.what-our-users-say-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.what-our-users-say-content-card {
  background-color: #ffffff;
  max-width: 367px;
  border: 1px solid #f2eded;
  padding: 24px;
  border-radius: 14px;
}

.what-our-users-say-content-card-icons {
  display: flex;
  align-items: start;
  gap: 4px;
  margin-bottom: 24px;
}

.what-our-users-say-content-card-icons img {
  height: 20px;
  width: 20px;
}

.what-our-users-say-content-card-text {
  color: #1e1e1e;
}

.what-our-users-say-content-card-text h5 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 600;
  margin-bottom: 8px;
}

.what-our-users-say-content-card-text p {
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 24px;
}

.what-our-users-say-content-card-author {
  display: flex;
  align-items: center;
  gap: 12px;
}

.what-our-users-say-content-card-author img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.what-our-users-say-content-card-author-text {
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
}

.what-our-users-say-content-card-author-text h6 {
  color: #757575;
}

.what-our-users-say-content-card-author-text p {
  color: #b3b3b3;
}
/* What Our Users Say Section Styles End */

/* Ready To Focus Better Section Styles Start */
.ready-to-focus-better-section {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 71px 150px;
  margin-bottom: 92px;
  border-radius: 14px;
}
.ready-to-focus-better-section h2 {
  font-size: 50px;
}

.ready-to-focus-better-section p {
  color: var(--small-para-color);
  margin: 20px 0;
}

.ready-to-focus-better-section img {
  max-width: 100%;
  height: auto;
  border-radius: 48px;
}
/* Ready To Focus Better Section Styles End */

/* Let's Get In Touch Section Styles Start */
.lets-get-in-touch-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 71px 0 85px 0;
  margin-bottom: 14px;
}

.lets-get-in-touch-section h2 {
  font-size: 97px;
}

.lets-get-in-touch-section form label {
  font-size: 18px;
  color: var(--secondary-color);
  font-weight: 500;
  line-height: 22px;
}

.lets-get-in-touch-section form input[type="email"],
input[type="text"],
textarea {
  width: 100%;
  padding: 20px 32px;
  margin: 10px 0 19px 0;
  font-size: 20px;
  line-height: 30px;
  border: 1px solid #D6DDED;
  border-radius: 10px;
  color: var(--small-para-color);
}
/* Let's Get In Touch Section Styles End */
